<div>
    <h2 id="page-heading">
        <span>Hbase Files</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-hbase-file" [routerLink]="['/hbase-file/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Hbase File
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="hbaseFiles?.length === 0">
        <span>No hbaseFiles found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="hbaseFiles?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>File Id</span></th>
                    <th scope="col" ><span>Content</span></th>
                    <th scope="col" ><span>File Id</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hbaseFile of hbaseFiles ;trackBy: trackId">
                    <td><a [routerLink]="['/hbase-file', hbaseFile.id, 'view']">{{ hbaseFile.id }}</a></td>
                    <td>{{ hbaseFile.fileId }}</td>
                    <td>{{ hbaseFile.content }}</td>
                    <td>
                        <div *ngIf="hbaseFile.fileId">
                            <a [routerLink]="['/cms', hbaseFile.fileId?.id, 'view']" >{{ hbaseFile.fileId?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/hbase-file', hbaseFile.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/hbase-file', hbaseFile.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(hbaseFile)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
