<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="receipt">
            <h2><span>Receipt</span> {{ receipt.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Cms Id</span></dt>
                <dd>
                    <span>{{ receipt.cmsId }}</span>
                </dd>
                <dt><span>Receipt Type Id</span></dt>
                <dd>
                    <span>{{ receipt.receiptTypeId }}</span>
                </dd>
                <dt><span>Receipt Date</span></dt>
                <dd>
                    <span>{{ receipt.receiptDate }}</span>
                </dd>
                <dt><span>Created At</span></dt>
                <dd>
                    <span>{{ receipt.createdAt }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/receipt', receipt.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
