<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cMS">
            <h2><span>CMS</span> {{ cMS.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>File Id</span></dt>
                <dd>
                    <span>{{ cMS.fileId }}</span>
                </dd>
                <dt><span>Message Count</span></dt>
                <dd>
                    <span>{{ cMS.messageCount }}</span>
                </dd>
                <dt><span>Created At</span></dt>
                <dd>
                    <span>{{ cMS.createdAt }}</span>
                </dd>
                <dt><span>Id</span></dt>
                <dd>
                    <div *ngIf="cMS.id">
                        <a [routerLink]="['/logical-message', cMS.id?.id, 'view']">{{ cMS.id?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cms', cMS.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
