<div>
    <h2 id="page-heading">
        <span>Document Histories</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-document-history" [routerLink]="['/document-history/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Document History
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="documentHistories?.length === 0">
        <span>No documentHistories found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="documentHistories?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Owner Id</span></th>
                    <th scope="col" ><span>Direction Id</span></th>
                    <th scope="col" ><span>Document Id</span></th>
                    <th scope="col" ><span>Status Id</span></th>
                    <th scope="col" ><span>Date</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let documentHistory of documentHistories ;trackBy: trackId">
                    <td><a [routerLink]="['/document-history', documentHistory.id, 'view']">{{ documentHistory.id }}</a></td>
                    <td>{{ documentHistory.ownerId }}</td>
                    <td>{{ documentHistory.directionId }}</td>
                    <td>{{ documentHistory.documentId }}</td>
                    <td>{{ documentHistory.statusId }}</td>
                    <td>{{ documentHistory.date | date:'mediumDate' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/document-history', documentHistory.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/document-history', documentHistory.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(documentHistory)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
