<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-document-history-heading">Create or edit a Document History</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_ownerId">Owner Id</label>
                    <input type="number" class="form-control" name="ownerId" id="field_ownerId"
                           formControlName="ownerId"/>
                    <div *ngIf="editForm.get('ownerId')!.invalid && (editForm.get('ownerId')!.dirty || editForm.get('ownerId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ownerId')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('ownerId')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_directionId">Direction Id</label>
                    <input type="number" class="form-control" name="directionId" id="field_directionId"
                           formControlName="directionId"/>
                    <div *ngIf="editForm.get('directionId')!.invalid && (editForm.get('directionId')!.dirty || editForm.get('directionId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('directionId')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('directionId')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_documentId">Document Id</label>
                    <input type="number" class="form-control" name="documentId" id="field_documentId"
                           formControlName="documentId"/>
                    <div *ngIf="editForm.get('documentId')!.invalid && (editForm.get('documentId')!.dirty || editForm.get('documentId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('documentId')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('documentId')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_statusId">Status Id</label>
                    <input type="number" class="form-control" name="statusId" id="field_statusId"
                           formControlName="statusId"/>
                    <div *ngIf="editForm.get('statusId')!.invalid && (editForm.get('statusId')!.dirty || editForm.get('statusId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('statusId')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('statusId')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker #dateDp="ngbDatepicker" formControlName="date"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('date')!.invalid && (editForm.get('date')!.dirty || editForm.get('date')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('date')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
